@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #dae0f0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.container {
	max-width: 400px;
	margin: 20px auto;
	overflow: hidden;
	min-height: 300px;
	height: 640px;
	padding: 15px;
	border-radius: 5px;
	background-color: #f3f7fa;
	border-radius: 15px;
	box-shadow: 0 4px 59px 16px #00000021;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	background: #5255c0;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
}

.btn:focus {
	outline: none;
}
.btn:active {
	transform: scale(0.98);
}
.btn-block {
	display: block;
	width: 100%;
	margin: 20px 0;
}

.tasksContainer {
	max-height: 260px;
	overflow-x: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tasksContainer::-webkit-scrollbar-thumb {
	background-color: steelblue;
	border-radius: 3px;
}

.tasksContainer::-webkit-scrollbar {
	width: 3px;
}

.task {
	background: #fff;
	margin: 5px;
	padding: 10px 20px;
	cursor: pointer;
	user-select: none;
}

.task.reminder {
	border-left: 5px solid green;
}

.task h3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.add-form {
	margin-bottom: 40px;
}

.form-control {
	margin-bottom: 15px;
}

.form-control label {
	display: block;
	margin-bottom: 3px;
}

.form-control input {
	width: 100%;
	height: 40px;
	padding: 3px 7px;
	font-size: 17px;
	border: none;
	outline: none;
	box-shadow: 0 5px 31px 1px rgb(0 0 0 / 5%);
	border-radius: 3px;
}
.form-control input::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.form-control-check {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-control-check label {
	flex: 1;
}

.form-control-check input {
	flex: 2;
	height: 20px;
}

footer {
	padding-top: 10px;
	text-align: center;
	border-top: 0.85px solid rgb(224, 221, 221);
	display: flex;
	justify-content: space-evenly;
}
footer a {
	background-color: white;
	color: #16178b;
	padding: 8px 15px;
	border-radius: 50px;
	box-shadow: 0 4px 10px rgb(0 0 0 / 19%);
}
